[Unit]
Description=OpenRGB control

[Service]
Type=simple
ExecStart=/usr/bin/openrgb -p FFFFFF -m Static
ExecStop=/usr/bin/openrgb -c 000000 -m Static
RemainAfterExit=yes

[Install]
WantedBy=default.target
