window {
    border: none;
    background-color: #1e1e2e;
}

#input {
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #272744;
}

#entry {
    border-radius: 5px;
    outline: none;
    background-color: #1e1e2e;
}

#entry:selected {
    background-color: #272744;
}

#outer-box {
    padding: 5px;
}

#inner-box {
    padding: 5px;
    background-color: #1e1e2e;
}